@font-face {
	font-family: 'Conv_UniversLTStd-Light';
	src: url('../fonts/UniversLTStd-Light.eot');
	src: local('☺'), url('../fonts/UniversLTStd-Light.woff') format('woff'), 
					 url('../fonts/UniversLTStd-Light.ttf') format('truetype'), 
					 url('../fonts/UniversLTStd-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLT Std UltLt';
  src: url('../fonts/fontscore.com_h-helvetica-neue-lt-std-25-ultra-light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/fontscore.com_h-helvetica-neue-lt-std-25-ultra-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fontscore.com_h-helvetica-neue-lt-std-25-ultra-light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fontscore.com_h-helvetica-neue-lt-std-25-ultra-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fontscore.com_h-helvetica-neue-lt-std-25-ultra-light.svg#127711851060d024028a66ca1446ddd8') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Futura LT';
  src: url('../fonts/FuturaLT-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FuturaLT-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FuturaLT-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FuturaLT-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FuturaLT-Light.svg#8de9c4a7fd9b90b932104857e881150c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

.active a {
	background-color: rgba(255,255,255,0) !important;
	color: #3399FB !important;
}
#article {
	min-height: 150px;
	margin-top: 10px;
}
#article .Medium-placeholder {
	width: 75px;
}
#article p {
	font-family: sans-serif, helvetica;
}
.badge {
	padding: 4px 7px 2px 7px;
}
body {
	padding-top: 45px;
    background-color: #F8F8F8;
    font-family: 'Conv_UniversLTStd-Light';
}
.border-left {
	border-left: 1px solid #DDDDDD;
}
.btn {
	padding-top: 9px;
}
.btn-file {
	padding:0px;
}
.centered {
	text-align: center;
}
.contact-info a span.glyphicon {
	font-size:90%; 
	position: relative; 
	top: 2px;
}
.content {
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.date {
	color: #3BA4FC;
	font-family: 'HelveticaNeueLT Std UltLt';
}
.disqus {
	color: #5CB85C;
	text-align: right;
	margin-right: 0px;
	padding-right: 0px;
	font-family: 'Futura LT';
}
.disqus:hover {
	color: #5CB85C;
}
.email {
	padding-top: 20px;
	padding-bottom: 40px;
	margin-bottom: 20px;
	border-bottom: 1px solid #DDDDDD;
}
.emphasize {
	color: #F75F7A;
	font-family: sans-serif;
	font-weight: bold;
}
.form-section {
	margin-top: 50px !important;
}
.glyphicon-chevron-down {
	font-size: 80%;
	top: 1px;
	position: relative;
}
.header {
	font-family: 'Futura LT';
}
hr {
	border-top: 1px solid #DDDDDD;
}
.image {
	margin-bottom: 20px;
}
input {
	padding-top: 8px !important;
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}
.input-group-addon {
	padding-top: 6px !important;
	padding-bottom: 3px !important;
}
.jumbotron {
	margin-top: 20px;
	padding: 0 0 15px 0;
	border-radius: 5px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.7);
	background-image: transparent;
	background: transparent;
}
.jumbotron:after {
	background-image:none;
}
.jumbotron p {
	text-shadow: none;
	color: #bbbbbb;
	padding-top: 20px;
	font-size: 100%;
	font-family: 'Futura LT';
}
.jumbotron .glyphicon {
	color: #3BA4FC !important;
}
.jumbotron .title {
	margin-bottom: 0px;
	line-height: 1;
	font-size: 350%;
	position: relative;
	color: #AAAAAA;
	text-shadow: none;
}
.jumbotron .glyphicon {
	line-height: 2;
}
.logo {
	color: #3BA4FC;
	font-family: 'HelveticaNeueLT Std UltLt';
	position: relative;
	font-size: 120%;
}
#logout-btn span {
	color: #FC3A30;
}
.navbar {
	background-color: rgba(255,255,255,0.94);
	border-bottom: 1px solid #CCCCCC;
}
.navbar .dropdown-menu {
	top: 43px;
	color: #777777;
	background-color: rgba(255,255,255,0.94);
}
.navbar .dropdown-menu::before {
	position: absolute;
	top: -7px;
	left: 17px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #CCC;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}
.navbar .dropdown-menu::after {
	position: absolute;
	top: -6px;
	left: 18px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	border-left: 6px solid transparent;
	content: '';
}
.navbar .active .dropdown ul li a {
	color: #555555 !important;
}
.navbar .active .dropdown ul li a:hover {
	color: white !important;
}
.navbar .active .dropdown ul .activetag a {
	color: #3BA4FC !important;
}
.navbar .dropdown ul li a {
	color: #555555;
}
.navbar .dropdown ul li a:hover {
	color: white;
}
.navbar .dropdown-toggle:hover {
	color: black;
}
.navbar .dropdown-menu li.active a {
	background-image: none;
}
.navbar .dropdown-toggle {
	top: 16px;
	position: relative;
	outline: none;
	color: #777777;
}
.navbar-brand {
	padding-bottom: 0px;
	cursor: pointer;
	padding-right: 30px;
}
.navbar li a {
	margin-top: 2px;
	font-size:80%;
}
.rightered {
	text-align: right;
}
.tag {
	display: inline;
	padding-right: 20px;
	font-family: 'Futura LT';
}
.tag span {
	font-size: 80%;
}
.tag a {
	color: #F85674;
}
.tags {
	list-style-type: none;
	padding-top: 20px;
	-webkit-padding-start: 0px;
}
.tagsIndex li span.glyphicon {
	color: #3399FB;
	font-size: 80%;
}
.tagsIndex li a {
	color: #3399FB;
	font-family: 'Futura LT';
}
.textarea {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	resize:vertical;
	border:1px solid #CCCCCC;
	border-radius: 4px !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	padding: 10px;
	background-color: white;
}
.textarea:focus {
	border-color: #51A7E8;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
	background-color: white;
}
.title {
	font-family: 'HelveticaNeueLT Std UltLt';
	font-size: 400%;
}
.title a {
	color: #444444;
}
.title a:hover {
	color: #888888;
}
.pagination {
	font-family: 'HelveticaNeueLT Std UltLt';
}
.pagination a {
	height: 27px;
}
.pagination .active {
	color: #CCCCCC;
}
.post {
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDDDDD;
}
.post img {
	padding-top: 10px;
}
.post p {
	padding-top: 15px;
}
#post-btn span {
	color: #65BC66;
	font-size: 120%;
}
#projectFooter {
	margin-top: 60px;
}
.search {
	font-size: 80%;
	height: 25px;
	margin-top: 6px;
	margin-left: 13px;
}

@media all and (max-width: 767px) {
body {
	padding-right: 20px;
	padding-left: 20px;
}
.navbar {
	padding-top: 5px;
	padding-bottom: 5px;
}
.navbar .dropdown-menu {
	top: 20px;
	left: 12px;
}
.navbar .dropdown-toggle {
	top: 0px;
	left: 15px;
	outline: none;
}
.navbar-brand {
	padding-top: 8px;
	padding-bottom: 0px;
}
.navbar-nav li a {
	padding-top: 0px;
	padding-bottom: 0px;
}
.navbar-nav {
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar-toggle {
	border:none;
}
.navbar-toggle:hover span {
	background-color: white;
}
.search {
	margin-top: 0px;
	margin-bottom: 0px;
}
}
@media all and (max-width: 991px) {
.border-left {
	border-left: none;
}
.data-src {
	content: url('../img/700x137.png');
}
.thumbnail {
	margin: 20px 0;
}
}
